@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  /* Costumize your theme here*/
  
  /* 1. Custom Colors - usage: bg-brand, text-brand-foreground */
  --color-brand: #4f46e5; /* Indigo 600 */
  --color-brand-foreground: #ffffff;
  
  /* 2. Custom Fonts - usage: font-sans, font-display */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Oswald", ui-sans-serif, system-ui;
  
  /* 3. Custom Spacing - usage: p-128 */
  --spacing-128: 32rem;
  
  /* 4. Custom Border Radius - usage: rounded-4xl */
  --radius-4xl: 2rem;
}
html{
  scroll-behavior: smooth;
}
/* Global Styles */
:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #f8fafc; /* Slate 50 */
  color: #0f172a; /* Slate 900 */
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Manually toggle dark mode using the 'dark' class on the HTML element */
:root.dark {
  background-color: #122437;
  color: #f8fafc;
  color-scheme: dark;
}
